- content_for(:title, 'Staff')
- content_for(:actions) do
  %li.action.inline= link_to(icon(:user_add), "https://weddingexpo.co/account/register/staff", class: "icon", title: "New Staff", target: "_blank")
-#  %li.action.inline= link_to(icon(:printer), attendees_path(:pdf), class: "icon", title: "Print mailing labels")
-#- content_for(:count, @users.length.to_s)

%table
  %thead
    %tr
      %th(width="200") Name
      %th(width="250") Phone
      %th(width="170") Email
  %tbody
    - @staffs.each do |user|
      %tr.link(data-href="#{user_path(user)}")
        %td= user
        %td= number_to_phone(user.phone, :groupings => [3, 3, 4], area_code: true)
        %td= user.email
